<md-card class="film-card-vertical" *ngIf="viewType === 'Vertical'">
  <img class="img-vertical" md-card-image src="{{filmItem.Poster}}">
  <md-card-content>
    <md-card-title>{{filmItem.Title}}</md-card-title>
    <p>Year: {{filmItem.Year}} &nbsp;&nbsp;&nbsp; Runtime: {{filmItem.Runtime}} &nbsp;&nbsp;&nbsp; IMDB: {{filmItem.imdbRating}}</p>
    <p>Production: {{filmItem.Production}}</p>
    <p>Genre: {{filmItem.Genre}}</p>
    <p>{{filmItem.Plot}}</p>
  </md-card-content>
  <md-card-actions>
    <button md-button>Show more</button>
  </md-card-actions>
</md-card>

<div class="film-card-horizontal" *ngIf="viewType === 'Horizontal'">
  <img class="img-horizontal" md-card-image src="{{filmItem.Poster}}">
  <div class="film-content-horizontal">
    <h2>{{filmItem.Title}}</h2>
    <p>Production: {{filmItem.Production}}</p>
    <p>Country: {{filmItem.Country}}</p>
    <p>Released: {{filmItem.Released}}</p>
    <p>{{filmItem.Plot}}</p>
    <p>Runtime: {{filmItem.Runtime}}</p>
    <p>IMDB: {{filmItem.imdbRating}}/10</p>
    <md-card-actions>
      <button md-button>Show more</button>
    </md-card-actions>
  </div>
</div>