<md-card class="film-card">
  <img md-card-image src="{{filmItem.Poster}}">
  <md-card-content>
    <md-card-title>{{filmItem.Title}}</md-card-title>
    <p>Year: {{filmItem.Year}} &nbsp;&nbsp;&nbsp; Runtime: {{filmItem.Runtime}} &nbsp;&nbsp;&nbsp; IMDB: {{filmItem.imdbRating}}</p>
    <p>Production: {{filmItem.Production}}</p>
    <p>Genre: {{filmItem.Genre}}</p>
    <p>{{filmItem.Plot}}</p>
  </md-card-content>
  <md-card-actions>
    <button md-button>Show more</button>
  </md-card-actions>
</md-card>