.app-content {
    margin: 50px auto;
    max-width: 884px;
}
.film-card {
    max-width: 300px;
    margin-bottom: 50px;
}
.search-form {
    margin-bottom: 50px;
}
.navigation {
    display: flex;
    justify-content: space-between;
}